* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    grid-template-columns: 450px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "top top"
        "left main";
}

header, main, aside {
    font-family: Arial, Helvetica, sans-serif;
}

/* header, drop down menu styling */
header {
    grid-area: top;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #20639B;
    padding: 20px;
}

header img{
    height: 95px;
}

header h1, #title{
    margin-right: 300px;
    padding: 5px;
    text-decoration: none;
    font-size: larger;
    color: #F6D55C;
}
header h2{
    margin-right: 200px;
    color: #F6D55C;
}
header h3, li, #subtitle{
    margin-right: 70px;
    color: #F6D55C;
    text-decoration: none;
}
av.top-nav ul{
    list-style: none;
    padding: 0;
}

header li {
font-family: sans-serif;
font-weight: bold;
display: inline-block;
user-select: none;
position: relative;
}

header li:hover {
text-decoration: underline;
}

header li:active{
color: #fff;
}

header .pulldown-menu{
display: none;
position: absolute;
/* background-color: #F9F6D6 ; */
/* background-color: #F6D55C; */
background-color: #e2eafc;
border: 1px solid #69a297;
border-radius: 4px;
top: 45px;
left: 280px;
width: 1000px;
height: 500px;
z-index: 5000;
color: #173F5F;
font-family: Arial, Helvetica, sans-serif;
}
.pulldown-menu a{
    /* color: #173F5F; */
    color: #20639B;
}
.pulldown-menu a:hover{
    text-decoration: underline;
}

#subtitle:hover{
    text-decoration: underline;
}

.pulldown-menu ul{
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 20px;
}

header .pulldown-menu li{
color: #333;
font-weight: 168;
}
.prefect{
    margin: 0;
}

.dropdown a:hover .pulldown-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/* flex-wrap: wrap; */
}

.dropdown:hover .pulldown-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* image styling */

.thumb {
    width: 140px;
    margin-right: 10px;
    border-radius: 10px;
}

.map-thumb{
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
}

/* styling the site below the header */

aside {
    grid-area: left;
    padding: 10px;
    /* background-color: #F6F4D2; */
    /* background-color: #ffef9f; */
    /* background-color: white; */
    background-color: #fff1e6;
    /* background-color: #CBDFBD */
}
main {
    grid-area: main;
    /* padding: 10px; */
    overflow-y: auto;
    display: flex;
    min-height: calc(100vh - 70px);
    /* position: fixed; */
    /* overflow-y: hidden; */
    /* background-color: #D4E09B; */
}

aside{
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 660px;
    color: #173F5F;
}


/* @media only screen and (max-width: 1000px) {
    #doctor {
        flex: 1 1 100%;
    }
    #companions {
        flex: 1 1 100%;
    }
    main {
        flex-direction: column;
    }  
} */